.container {
    display: flex;
    gap: 25px;
    padding: 20px;
  }
  
  .card {
    background: white;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    text-align: center;
    padding: 25px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 300px;
  }
  

  button img{
    width: 20px;
    height: 20px;
  }
  .card img {
    height: auto;
    border-radius: 12px;
  }
  img{
    width: 100px;
    height: 100px;
  }
  .card button {
    margin: 10px 5px;
    padding: 12px 18px;
    background: #61dafb;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-weight: bold;
  }
  
  .card button:hover {
    background: #21a1f1;
  }